@import 'demo/variables';
@import 'bootstrap-sass/assets/stylesheets/bootstrap';
@import 'demo/navbar';
@import 'demo/tables';
@import 'demo/modals';
@import 'demo/buttons';
@import 'demo/actions';

.pagination {
    margin: 10px 0 0;
}

.progress {
    margin-bottom: 0px;
}

.button-bar .btn {
    margin-bottom: 5px;
}

.crop-rotate .fa {
    font-size: 12px;
    margin-right: 0px;
}

.demo-container {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
}

.demo-nav-tabs {
    margin-bottom: 20px;
    border-bottom: 1px solid #eaeaea;

    li.active {
        > a,
        > a:hover,
        > a:focus {
            background-color: #fff;
            border: 1px solid #eaeaea;
            border-bottom-color: transparent;
        }
    }
}

.crop-rotate {
    text-align: center;
    margin-bottom: -34px;
}
